__pycache__/libs.cpython-311.pyc
The_Galton_Case_MacDonald.txt
A_Kiss_Before_Dying-Ira_Levin.txt
Killer_s_Wedge_McBain.txt
Jim_Thompson_killer_inside.txt
mccarthy_groves.txt
pyMain.py
pnin_nabokov_-vladimir.txt
pictures_from_an_institution_Jarell.txt
